<h2>Editing {{book.title}}</h2>

<form action='/books/edit?id={{book.id}}' method='POST'>
  <label>Title</label>
  <input type='text' name='title' value='{{book.title}}' />

  <label>Author</label>
  {{!-- <input type='text' name='author' value='{{author}}' /> --}}
   <select name="author">
        <option value="">Choose author</option>
            {{#each authors}}
                {{#eq name ../book.author.name}}
                    <option value={{id}} selected>{{name}}</option>
                {{else}}
                    <option value={{id}}>{{name}}</option>
                {{/eq}}
            {{/each}}
    </select>

  <label>Description</label>
  <textarea name='description' cols='30' rows='4'>{{book.description}}</textarea>

  <label>Rating</label>
  <input type='number' name='rating' min='1' max='10' value='{{book.rating}}' />

  <button type='submit'>Update</button>

</form>