<div class='container-fluid'>
  <hr />

  <a
    type='button'
    class='btn btn-secondary btn-default btn-colors'
    href='/user/dashboard'
  >Back</a>

  <a
    type='button'
    class='btn btn-secondary btn-default'
    href='/clients/{{client._id}}/edit'
  >Edit Client</a>
  <br />
  <br />

  {{#if currentUser}}

    {{#if client.imageUrl}}
      <img
        class='rounded-circle client-logo'
        src='{{client.imageUrl}}'
        alt=''
      />
      <br />
      <br />
    {{/if}}

    <h2>{{client.companyName}}</h2>

    <br />
    <p><b>Address:</b> {{client.address}}</p>
    <p><b>Email:</b> {{client.email}}</p>
    <p><b>NIPC:</b> {{client.nipc}}</p>
    <p><b>NISS:</b> {{client.niss}}</p>

  {{else}}
    <p>No clients found.</p>
  {{/if}}

  {{!-- <form action='/books/delete/{{id}}' method='POST'>
  <button>
    Delete
  </button>
</form> --}}

  <hr />
</div>
<div class='container-fluid'>
  <h1>Client Dashboard</h1>
  <br />
  <div class='container text-center'>
    <div class='btn-group btn-group-toggle' data-toggle='buttons'>
      <label class='btn btn-secondary active'>
        <input
          type='radio'
          name='options'
          id='option1'
          autocomplete='off'
          checked
        />
        2023
      </label>
      <label class='btn btn-secondary'>
        <input type='radio' name='options' id='option2' autocomplete='off' />
        2024
      </label>
      <label class='btn btn-secondary'>
        <input type='radio' name='options' id='option3' autocomplete='off' />
        2025
      </label>
      <label class='btn btn-secondary'>
        <input type='radio' name='options' id='option3' autocomplete='off' />
        2026
      </label>

    </div>
  </div>

  <br />

  <div class='accordion' id='accordionExample'>
    <div class='card'>
      <div class='card-header' id='headingOne'>
        <h5 class='mb-0'>
          <button
            class='btn btn-link btn-colors'
            type='button'
            data-toggle='collapse'
            data-target='#collapseOne'
            aria-expanded='true'
            aria-controls='collapseOne'
          >
            Human Resourses
          </button>
        </h5>
      </div>

      <div
        id='collapseOne'
        class='collapse show'
        aria-labelledby='headingOne'
        data-parent='#accordionExample'
      >
        <div class='card-body container'>
          <div class='form-floating'>
            <form
              novalidate
              method='POST'
              action='/clients/{{client._id}}/hr/submit'
              enctype='multipart/form-data'
            >
              <select
                class='form-select'
                name='month'
                aria-label='Select month'
                required
              >
                <option value=''>Select month</option>
                {{#each months}}
                  <option name='month' value='{{this}}'>{{this}}</option>
                {{/each}}
              </select>
              <br />

              <input
                class='form-control'
                type='file'
                name='file'
                placeholder='Files'
                required
              />
              <br />
              <button class='btn btn-primary' type='submit'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class='card'>
      <div class='card-header' id='headingTwo'>
        <h5 class='mb-0'>
          <button
            class='btn btn-link collapsed btn-colors'
            type='button'
            data-toggle='collapse'
            data-target='#collapseTwo'
            aria-expanded='false'
            aria-controls='collapseTwo'
          >
            Monthly Taxes
          </button>
        </h5>
      </div>
      <div
        id='collapseTwo'
        class='collapse'
        aria-labelledby='headingTwo'
        data-parent='#accordionExample'
      >
        <div class='card-body'>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <br />
    <div class='card'>
      <div class='card-header' id='headingThree'>
        <h5 class='mb-0'>
          <button
            class='btn btn-link collapsed btn-colors'
            type='button'
            data-toggle='collapse'
            data-target='#collapseThree'
            aria-expanded='false'
            aria-controls='collapseThree'
          >
            Yearly Taxes
          </button>
        </h5>
      </div>
      <div
        id='collapseThree'
        class='collapse'
        aria-labelledby='headingThree'
        data-parent='#accordionExample'
      >
        <div class='card-body'>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
</div>