<div class='container-fluid'>
  <hr />

  <a
    type='button'
    class='btn btn-secondary btn-default btn-colors'
    href='/user/dashboard'
  >Back</a>

  <a
    type='button'
    class='btn btn-secondary btn-default'
    href='/clients/{{id}}/edit'
  >Edit Client</a>
  <br />
  <br />

  {{#if currentUser}}
    <h2>{{this.companyName}}</h2>
    <br />
    <p><b>Address:</b> {{this.address}}</p>
    <p><b>Email:</b> {{this.email}}</p>
    <p><b>NIPC:</b> {{this.nipc}}</p>
    <p><b>NISS:</b> {{this.niss}}</p>

  {{else}}
    <p>No clients found.</p>
  {{/if}}

  {{!-- <form action='/books/delete/{{id}}' method='POST'>
  <button>
    Delete
  </button>
</form> --}}

  {{#if imageUrl}}
    <img src='{{imageUrl}}' alt='' />
  {{/if}}

  <hr />
</div>
<div class='container-fluid'>
  <h1>Dashboard</h1>
</div>