<h1>Dashboard</h1>
<br />
<h2>Client list</h2>

{{#if currentUser}}

  {{#each user}}
    {{#each this.userClients}}

      <h2>
        <a
          type='button'
          class='btn btn-primary btn-default'
          href='/clients/{{_id}}'
        >{{this.companyName}}</a>
      </h2>
      <p>Address: {{this.address}}</p>
      <p>Email: {{this.email}}</p>
      <p>NIPC: {{this.nipc}}</p>
      <p>NISS: {{this.niss}}</p>

    {{/each}}
  {{/each}}

{{/if}}