<h1>{{this.companyName}}</h1>
<hr />
<a
  type='button'
  class='btn btn-secondary btn-default'
  href='/user/dashboard'
>Back</a>

<br />
<br />
{{#if currentUser}}

  <p><b>Address:</b> {{this.address}}</p>
  <p><b>Email:</b> {{this.email}}</p>
  <p><b>NIPC:</b> {{this.nipc}}</p>
  <p><b>NISS:</b> {{this.niss}}</p>

{{else}}
  <p>No clients found.</p>
{{/if}}

{{!-- <form action='/books/delete/{{id}}' method='POST'>
  <button>
    Delete
  </button>
</form> --}}

{{#if imageUrl}}
  <img src='{{imageUrl}}' alt='' />
{{/if}}

<hr />

<a
  type='button'
  class='btn btn-secondary btn-default'
  href='/clients/{{id}}/edit'
>Edit Client</a>