<div class='container'>
  <h1>Edit user</h1>

  <a
    type='button'
    class='btn btn-secondary btn-default'
    href='/user/{{user.id}}'
  >Back</a>
  <hr />

  <form novalidate action='/user/{{user.id}}/edit' method='POST'>
    <div class='form-floating'>
      <input
        class='form-control'
        type='text'
        name='username'
        placeholder='username'
        value='{{user.username}}'
        required
      />
      <label for=''>username</label>
    </div>

    <br />

    <div class='form-floating'>
      <input
        class='form-control'
        type='email'
        name='email'
        placeholder='email'
        value='{{user.email}}'
        required
      />
      <label for='email'>email</label>
    </div>

    <br />

    <div class='form-floating'>
      <input
        class='form-control'
        type='password'
        name='password'
        placeholder='password'
        value='{{user.password}}'
        required
        disabled
      />
      <label for='address'>Password</label>
    </div>

    <br />

    <button class='btn btn-lg btn-primary' type='submit'>Save changes</button>
  </form>

  <form action='/user/change-password' method='POST'>

    <div class='form-floating'>
      <input
        class='form-control'
        type='password'
        name='password'
        placeholder='Enter your password'
        value='password'
        required
      />
      <label for='password'>Input Current Password</label>
    </div>
    <div class='form-floating'>
      <input
        class='form-control'
        type='password'
        name='newPassword'
        placeholder='Enter your new password'
        value='newPassword'
        required
      />
      <label for='newPassword'>Input New Password</label>
    </div>
    <div class='form-floating'>
      <input
        class='form-control'
        type='password'
        name='confirmedPassword'
        placeholder='Reenter New Password'
        value='confirmedPassword'
        required
      />
      <label for='confirmedPassword'>Confirm New Password</label>
    </div>

    <button type='submit' class='btn btn-lg btn-primary'>
      Change Password
    </button>
  </form>

</div>

{{#if errorMessage}}
  <div class='alert alert-danger' role='alert'>
    <div style='color: red'>
      {{errorMessage}}
    </div>
  </div>
{{/if}}